body
{
    background-color: #b2b2b2;
}
#Destiny
{
    position: fixed;
    left: .48%;
    margin-top: -2%;
    font-size: 80pt;
    font-family: Grotesk-Medium;
    z-index: 1;
}

#lefty
{
    border: 5px solid black;
    width: 19.5%;
    padding: 2%;
    padding-top: .5%;
    position: fixed;
    left: 1%;
    top: 11%;
    height: 82vh;
    overflow-y: scroll;
    text-align: left;
    font-family: Grotesk-Medium;
}
 
#righty
{
    border: 5px solid black;
    width: 68.9%;
    padding: 2%;
    padding-top: .5%;
    position: fixed;
    left: 26%;
    top: 11%;
    height: 82vh;
    overflow-y: scroll;
    text-align: left;
    font-family: Grotesk-Fine;
}



#Zoom
{
    display: none;
}


#PVD
{
    display: none;

}
#Quarentine
{
    display: none;

}
#Colaborative
{
    display: none;

}
#OneFish
{
    display: none;

}
#Bait
{
    display: none;

}
#Faer
{
    display: none;

}
#RISO
{
    display: none;

}
#Abram
{
    display: none;

}

@font-face {
    font-family:Grotesk-Fine ;
    src: url(./fonts/RightGrotesk-Fine.otf);
}
@font-face {
    font-family:Grotesk-Medium;
    src: url(./fonts/RightGrotesk-Medium.otf);
}
@font-face {
    font-family:Grotesk-CompactBlack;
    src: url(./fonts/RightGrotesk-CompactBlack.otf);
}