body
{
    background-color: #b2b2b2;
}
h1
{
    position: fixed;
    left: 0;
    margin-top: -3.8%;
    font-size: 100pt;
    font-family: Grotesk-Medium;
}

#lefty
{
    border: 5px solid black;
    width: auto;
    padding: 2%;
    padding-top: .5%;
    position: fixed;
    left: 1%;
    top: 11%;
    height: 80vh;
    overflow-y: scroll;
    text-align: left;
    font-family: Grotesk-Medium;
}
 
#righty
{
    border: 5px solid black;
    width: 75%;
    padding: 2%;
    padding-top: .5%;
    position: fixed;
    left: 20%;
    top: 11%;
    height: 80vh;
    overflow-y: scroll;
    text-align: left;
    font-family: Grotesk-Fine;
}
#Zoom
{
    font-family: Grotesk-Medium;
    font-size: 2em;
    position: absolute;
    left: 30%;
    top: 50%;
    border: 5px solid red;
}
#zoom
{

}

/*#PVD
{

}
#Quarentine
{

}
#Colaborative
{

}
#OneFish
{

}
#Click
{

}
#Faer
{

}
#RISO
{

}
#Abram
{

}

@font-face {
    font-family:Grotesk-Fine ;
    src: url(./fonts/RightGrotesk-Fine.otf);
}
@font-face {
    font-family:Grotesk-Medium;
    src: url(./fonts/RightGrotesk-Medium.otf);
}
@font-face {
    font-family:Grotesk-CompactBlack;
    src: url(./fonts/RightGrotesk-CompactBlack.otf);
}